* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
}

.cabecalho {
    width: 15%;
    height: 100%;
}

.cabecalho__container {
    padding: 1rem;
}

.principal__criptografar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 1rem 2rem 10rem;
    width: 60%;
    height: 80vh;
}

#textoCriptografar {
    border: none;
    outline: none;
    background-color: #E5E5E5;
    width: 90%;
    height: 65vh;
    vertical-align: text-top;
    line-height: 1;
    font-size: 32px;
    color: #192841;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    text-align: justify;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
}

#textoCriptografar::placeholder {
    font-size: 32px;
    color: #192841;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.principal__criptografar input:focus {
    outline: none;
}

.principal__quadro {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 93vh;
    background-color: #ffffff;
    margin: 1.5rem;
    border-radius: 16px;

}

.principal__quadro-textoEncriptado {
    font-size: 24px;
    color: #192841;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 90%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    padding: 1rem;
}

#quadro-imagem {
    padding: 10rem 0 5rem 0;
    width: 80%;
}

#quadro-titulo {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    padding: 1rem 4rem 1rem 4rem;
    text-align: center;
}

#quadro-subtitulo {
    color: #8c8c8c;
    font-size: 14px;
    font-family: 400;
    font-family: 'Inter', sans-serif;
    padding: 0 4rem;
    text-align: center;
}

#quadro-botao {
    display: none;
    margin: 5rem 1rem 2.5rem 1rem;
    border: 1px solid #192841;
    text-decoration: none;
    text-transform: none;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    border-radius: 30px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    width: 70%;
    height: 7vh;
}

.principal__criptografar__container {
    margin-right: 1rem;
}

.principal__criptografar__container-texto {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.icone__exclamation {
    width: 1%;
}

.principal__criptografar__container-botao {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    text-transform: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 1rem 1rem 1rem 0;
    gap: 1rem;
}

.principal__criptografar__container-botao-config {
    border: 1px solid #192841;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 35%;
    height: 7vh;
}

.crip {
    background-color: #192841;
    color: #e8f4f8;
}

.descrip {
    background-color: #e8f4f8;
    color: #192841;
}

.rodape {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    align-items: center;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 768px) {
    body {
        margin: 1rem;
    }

    .cabecalho__container {
        padding: 1rem 0;
    }

    
    .principal__criptografar {
        width: 100%;
        margin: 1rem;
    }
    
    .principal__quadro {
        margin: 1rem;
        position: relative;
        width: 95%;
        height: auto;
    }

    #textoCriptografar {
        font-size: 24px;
    }

    #textoCriptografar::placeholder {
        font-size: 24px;
    }
    
    #quadro-imagem {
        display: none;
    }

    .principal__quadro-textoEncriptado {
        padding: 1rem;
        width: 90%;
        height: auto;
        position: relative;
    }

    .principal__quadro-subtitulo {
        margin-bottom: 2rem;
    }

    .principal__criptografar__container-botao-config {
        padding: 0;
        width: 100%;
        height: 7vh;
    }

    #quadro-botao {
        padding: 0;
        width: 90%;
        height: 7vh;
    }
}

@media screen and (max-width: 375px) {
    .principal__criptografar {
        height: 60vh;
    }
    
    #textoCriptografar {
        font-size: 16px;
        width: 90%;
        height: 40vh;
    }

    #textoCriptografar::placeholder {
        font-size: 16px;
    }

    .principal__quadro-textoEncriptado {
        font-size: 16px;
        font-weight: 700;

    }

    .principal__criptografar__container-botao {
        display: block;
    }

    .crip {
        margin-bottom: 1rem;
    }

    #quadro-botao {
        margin: 1.5rem 1rem;
    }
}